* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Body definition color, background, position, separation*/
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #a5d6a7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 20px;
  margin: 0;
}
/* Styles for the header and footer */
#header, #footer {
  max-width: 600px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #121212;
  color: #4caf50;
  text-align: center;
  box-shadow: 0 0 10px #4caf50;
}

/* Styles for the main */
#app {
  max-width: 600px;
  width: 100%;
  background: #000000;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #4caf50;
  flex-grow: 1; 
}

h1, h2, h3, label {
  margin: 10px 0;
  padding: 10px 0;
  color: #ffffff;
}
/* Styles for the buttons */
button {
  background-color: #4caf50;
  color: #000000;
  font-size: 1.2em;
  border-radius: 20px;
  margin: 10px 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px white;
  transition: background-color 0.3s ease;
}
/* Styles for the buttons on mouseover */
button:hover {
  background-color: #388e3c;
}
/* Styles for buttons on click */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #4caf50;
  color: #a5d6a7;
  background-color: #000000;
  border-radius: 20px;
}
/* Styles for hover inputs */
input[type="text"]:focus {
  border-color: #81c784;
}
